<form action="" id="formFiltrosContratosSiga">
	<div class="row">
		<div class="small-2 columns">
			<label for="year">Año
				<select name="year" id="year">
					{% for year in years %}
						<option value="{{year}}">{{year}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
			
		
		<div class="small-2 columns">
			<label for="tipoBien">Tipo Bien
				<select name="tipoBien" id="tipoBien">
					{% for tipoBien in tiposBien %}
						<option value="{{tipoBien.sigla}}">{{tipoBien}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
		
		<div class="small-8 columns">
			<label for="proveedor"> Proveedor
				<input type="text" id="proveedor" />
			</label>
		</div>
	</div>
	
</form>